/* 
    Document   : style
    Created on : Jul 27, 2012, 10:09:59 PM
    Author     : minhbkpro
    Description:
        Purpose of the stylesheet follows.
*/

/* common css */
*{margin: 0;padding: 0}

@font-face{
    font-family: "japanese";
    src : url("umeplus-p-gothic.ttf");
}

@font-face{
    font-family: "beautiful";
    src : url("beautiful.ttf");
}

body{
    font-family: japanese;
    font-size: 13px;
    background: url("../images/main_bg.png") 5px -22px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
.red{
    color: red;
}
/* #wrapper */
#wrapper{
    width: 1300px;
    margin: auto;
    position: relative;
}
/* header */
#header{
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: -2px 2px 2px #C8C8C8;
}
/* #top-bar */
#top-bar{
    height: 35px;
    background: url("../images/top_bar_bg.png") repeat-x center;
}
/* #banner */
#banner{
    height: 120px;
    overflow: hidden;
    clear: both;
}
#banner img{
    position: relative;
    left: -165px;
}

/* #login-form */
#login-form{
    float: right;
    position: relative;
    top: 7px;
    left: -200px;
}
#login-form a{
    font-size: 14px;
    font-weight: bold;
    color: green;
    margin-left: 10px;
}
#login-form input{
    height: 20px;
    line-height: 20px;
    border-radius: 3px 3px 3px 3px;
    border: none;
}
#login-form input.text{
    padding-left: 20px;
    border: 1px solid #ddd;
}
#login-form input.username{
    background: url("../images/username_icon.png") white no-repeat 6px center;
}
#login-form input.password{
    background: url("../images/password_icon.png") white no-repeat 6px center;
}
#login-form input.submit{
    background: url("../images/login_button_bg1.png") repeat-x top center;
    height: 20px;
    line-height: 20px;
    padding: 0px 15px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
}
#user-info{
    float: right;
    position: relative;
    left: -200px;
}
#user-info p{
    float: left;
    line-height: 33px;
}
#user-info a{
    float: right;
}
#user-info a img{
    position: relative;
    top: 2px;
}
#user-info p a{
    line-height: 33px;
    margin: 0 15px;
}

/* #forum */
#forum{
    background: url("../images/forum_bg.png") white repeat-x top;
    margin-top: 30px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: -2px 2px 2px #C8C8C8;
    padding-top: 5px;
    padding-bottom: 20px;
    border-right: 1px solid #efefef;
    overflow: hidden;
    margin-bottom: 50px;
}
#forum-link{
    height: 30px;
    color: white;
    margin-bottom: 10px;
}
#forum-link li{
    height: 30px;
    background: url("../images/arrow_right.png") no-repeat 15px center;
    float: left;
    padding: 0px 5px 0px 35px;
}
#forum-link li.first{
    background: url("../images/home_icon.png") no-repeat 15px center;
}
#forum-link li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.forum-list{
    width: 1260px;
    margin: auto auto 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: -2px 2px 2px #C8C8C8;
    overflow: hidden;
}
.forum-list .title{
    height: 30px;
    width: 100%;
    background: url("../images/forum_tab.png") repeat-x #333;
}
.forum-list .title label{
    color: white;
    font-weight: bold;
    background: url("../images/needle.png") no-repeat 10px -5px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 40px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-transform: uppercase;
}
.forum-list ul li{
    height: 60px;
    background: url("../images/ul_li_bg.png") repeat-x bottom #fff;
    border-top: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #efefef;
    position: relative;
}
.forum-list ul li img.forum-status-img{
    position: absolute;
    top: 15px;
    left: 15px;
}
.forum-list ul li div{
    float: left;
    width: 100%;
}
.forum-list ul li div.no1{
    width: 685px;
    padding-left: 85px;
    _width: 770px;
}
.forum-list ul li div.no1 a{
    color: #d90505;
    font-weight: bold;
    line-height: 33px;
    font-size: 14px;
}
.forum-list ul li div p{
    color: #1c1c1c;
}
.forum-list ul li div.no1 p{
    font-size: 13px;
}
.forum-list ul li div.no2{
    width: 170px;
}
.forum-list ul li div.no2 p{
    position: relative;
    top: 7px;
}
.forum-list ul li div.no3{
    width: 300px;
}
.forum-list ul li div.no3 a{
    color: #ff2828;
}
.forum-list ul li div.no3 a.first{
    display: block;
    margin-top: 3px;
}
.forum-list ul li div.no3 a.first img{
    margin: 0px 5px;
}
/* statistic */
#statistic{
    width: 1260px;
    margin: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: -2px 2px 2px #C8C8C8;
    overflow: hidden;
    margin-top: 20px;
}
#statistic .title{
    height: 30px;
    width: 100%;
    background: url("../images/forum_tab.png") repeat-x #969696;
}
#statistic .title label{
    color: white;
    font-weight: bold;
    background: url("../images/needle1.png") no-repeat 10px 3px;
    font-size: 15px;
    text-decoration: none;
    padding-left: 40px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-transform: uppercase;
}
#statistic div.statistic-content{
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #efefef;
    padding: 10px 0px 20px 35px;
}
#statistic div.statistic-content h4,#statistic div.statistic-content p{
    background: white;
    width: 90%;
    line-height: 19px;
}
#statistic div.statistic-content h4 img{
    margin-right: 10px;
    position: relative;
    top: 2px;
}

/* #threads */
#threads ul li{
    height: 45px;
    background-color: #fafafa;
}
#threads ul li div.no1 a{
    line-height: 24px;
    font-weight: normal;
    position: relative;
}
#threads ul li div.no1 a img.new{
    height: 30px;
    position: absolute;
    top: 0;
}
#threads ul li div.no2 p{
    top: 5px;
}
#threads ul li div.no3 a,#threads ul li div.no3 p{
    position: relative;
    top: 5px;
}

/* #register */
#register{
    border-right: 1px solid #EFEFEF;
}
#register form{
    margin-top: 20px;
}
#register form div{
    background: white;
    height: 30px;
    line-height: 30px;
    clear: both;
}
#register form div label{
    display: block;
    width: 300px;
    margin-right: 20px;
    float: left;
    line-height: 30px;
    text-align: right;
}
#register form div input,#register form div select{
    line-height: 30px;
    height: 20px;
    border: 1px solid #a4a4a4;
}
#register form div input{
    width: 300px;
}
#register form div select{
    padding: 1px;
    width: 100px;
}
#register form{
    margin-bottom: 10px;
}
#register form div.submit{
    padding-top: 20px;
}
#register form div.submit input{
    background: url("../images/login_button_bg1.png") repeat-x top center;
    height: 25px;
    line-height: 25px;
    padding: 0px 30px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
    border: none;
    width: auto;
    border-radius: 4px 4px 4px 4px;
    position: relative;
    left: 335px;
}
#register form div.avatar input[type=text]{
    position: relative;
    top: -2px;
    width: 180px;
}
#register form div.avatar button{
    background-color: #146295;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF !important;
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none !important;
    width: 80px;
}
#register form div.avatar input.avatar{
    display: block;
    left: 320px;
    opacity: 0;
    position: absolute;
    top: 2px;
}
#register form div.avatar img.avatar-image{
    display: none;
    position: absolute;
    max-height: 150px;
    max-width: 150px;
    bottom: 0px;
    left: 650px;
}
#register form div.avatar{
    position: relative;
}
#register form div textarea{
    height: 100px;
    width: 400px;
    border: 1px solid #a4a4a4;
    float: left;
}

/* paging */
.paging{
    float: right;
    background: white;
    height: 16px;
    margin: 0px 20px 10px 0px;
}
.paging a{
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0px 1px;
    color: #1c1c1c;
    cursor: pointer;
}
.paging a.first{
    background: url("../images/first.png") no-repeat center;
}
.paging a.prev{
    background: url("../images/prev.png") no-repeat center;
}
.paging a.next{
    background: url("../images/next.png") no-repeat center;
}
.paging a.last{
    background: url("../images/last.png") no-repeat center;
}
.paging a.selected{
    background: #3c3c3c;
    color: white;
}
.paging span{
    display: block;
    height: 20px;
    line-height: 20px;
    float: left;
}
#bottom-paging{
    margin: 10px 20px 10px 0px;
}

/* #threads-content */
.forum-list .title{
    background-color: #555;
    position: relative;
}
.forum-list .title a{
    display: block;
    float: right;
    position: relative;
    right: 10px;
    top: 4px;
    color: white;
    font-size: 12px;
}
.threads-content{
    clear: both;
    background: #F2F6F8;
}
#threads-content{
    border-radius: 0px;
    box-shadow: none;
    padding-left: 5px;
}
#threads-content .title label{
    background: url("../images/post.png") no-repeat 15px center;
    height: 25px;
    line-height: 25px;
    float: left;
    font-size: 12px;
}
#threads-content .title{
    height: 25px;
    clear: both;
    border-radius: 4px 4px 0px 0px;
}
.threads-content .threads-content-left{
    width: 200px;
    float: left;
    text-align: center;
    height: 100%;
}
.threads-content .threads-content-left .user-name{
    font-weight: bold;
    color: green;
    font-size: 12px;
    display: block;
    padding: 10px 0px;
}
.threads-content .threads-content-left img{
    max-width: 150px;
    max-height: 150px;
    margin: auto;
}
.threads-content-bottom{
    height: 25px;
    background: #ccc;
    clear: both;
    margin-bottom: 10px;
}
.threads-content-bottom a{
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    padding-right: 10px;
    color: #146295;
    float: right;
}
.threads-content-right{
    min-height: 300px;
    float: left;
    background: white;
    width: 1039px;
    border-right: 1px solid #efefef;
    padding: 10px;
}
.threads-content-right h4{
    color: #4e4e4e;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #a4a4a4;
    padding: 10px 0px 10px 20px;
    background: url("../images/text.png") no-repeat left center;
}
.threads-content-box{
    box-shadow: -2px 2px 2px #a1a1a1;
}
#new-thread,#reply{
    clear: both;
    overflow: hidden;
    margin-bottom: 5px;
}
#new-thread a,#reply a{
    background: url("../images/login_button_bg1.png") repeat-x top center;
    height: 25px;
    line-height: 25px;
    padding: 0px 10px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
    border: none;
    width: auto;
    border-radius: 4px 4px 4px 4px;
    position: relative;
    left: 16px;
    float: left;
}
#reply{
    width: 1260px;
    margin: auto;
    overflow: hidden;
    clear: both;
}
#reply a{
    left: 0px;
}
#reply form{
    clear: both;
    padding-top: 5px;
    display: none;
}
#reply form textarea{
    border: 1px solid #a4a4a4;
    width: 400px;
    height: 120px;
    float: left;
}
#reply form input{
    cursor: pointer;
}
#slogan{
    float: left;
    height: 35px;
    line-height: 35px;
    margin-left: 20px;
    color: #555;
    font-family: beautiful;
    font-size: 20px;
}